@media screen and (max-width: 480px){
    /*Estilos para moviles*/
    html{
      font-size: 14px;
    body{
      background-color: #03A9F4;
    div{
      width: 95%;
    }
  }

@media screen and (min-width: 481px) and (max-width: 768px){
 /*Estilos para tablets*/
 html{
     font-size: 15px;
    }
   body{
      background-color: #FF9800;
    }
   div{
      width: 85%;
    }

    @media screen and (min-width: 769px){
        /*Estilos para PC*/